.card {
    position: relative;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: opacity 0.3s ease-in-out;
}

/* Stile per rendere invisibile la card */
.card.hidden {
    opacity: 0;
    pointer-events: none; /* Evita che la card sia cliccabile quando è invisibile */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #000000;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #002f53;
    color: #fff;
}

button:hover {
    background-color: #c70049;
}
