.loginForm{
    border-radius: 10px;
    box-shadow: 7px 3px 21px 1px rgba(0,0,0,0.79);
    padding: 10%;
    background: white;
    justify-content: center;
    word-break: break-word;
    margin: auto;
    width: 50%;
    height: 50%;
}

@media only screen and (max-width: 1000px) {
    .loginForm {
        margin-top: 20%;
        margin-bottom: 20%;
        width: 100%;
        height: 100%;
    }
}